## Print() function

In [ ]:
print("Sureshvj")  Print a string
print(x)  Print a variable “x”
print(x,y)  Print two variables.
print(f"Suresh, {0}, {1}".format(x,y))  Print format str way-1
print(f"Suresh, {}, {}".format(x,y))  Print format str way-2
print(f"Suresh {x}")  Print format str way-3
print("Python", end='@')  end concatenate 2 print  function messages with end value
print('09','12','2016', sep='-')  sep will separate different values with sep value.

#### print("Sureshvj") ----------- Print a string

In [1]:
# Way -1
print("Murthy Mutyala")

Murthy Mutyala

#### print(x) ----------- Print a variable “x”

In [5]:
# Way -2
x = 10

print(x)

10

#### print(x,y) -------------- Print two variables.

In [8]:
# Way -3
x = "Pandu"
y = "Rama"

print(y, x)

Rama Pandu

#### print(f"Suresh, {0}, {1}".format(x,y)) ---------------- Print format str way-1

In [12]:
# Way -4

age = 24
name = "Murthy"

# This is murthy and I am 24 years old.

print("This is {0} and I am {1} years old".format(name, age))

This is Murthy and I am 24 years old

In [13]:
age = 24
name = "Murthy"

# This is murthy and I am 24 years old.

print("This is {1} and I am {0} years old".format(age, name))

This is Murthy and I am 24 years old

In [14]:
print("This is {1} and I am {0} years old".format(age, age))

This is 24 and I am 24 years old

#### print(f"Suresh, {}, {}".format(x,y)) -------------- Print format str way-2

In [15]:
# Way -4 - Without index numbers

print("This is {} and I am {} years old".format(name, age))

This is Murthy and I am 24 years old

#### print(f"Suresh {x}") ------------ Print format str way-3

In [16]:
print(f"This is {name} and I am {age} years old")

This is Murthy and I am 24 years old

#### print("Python", end='@') -------------- end concatenate 2 print  function messages with end value

In [22]:
#Way- 5

print("Pandu", end=" @ ")
print("Ramu", end=" @ ")

Pandu @ Ramu @

#### print('09','12','2016', sep='-') ---------- sep will separate different values with sep value.

In [26]:
name = "Pandu"
age = 24
dob = "1999"
friend = "Rama"

print(name, age, dob, friend, sep="_")

Pandu_24_1999_Rama

In [5]:
print("Hellow world")
print("Kiran kumar")

Hellow world
Kiran kumar

In [7]:
x = "Kiran kumar"

print(x)

Kiran kumar

In [9]:
x = "Kiran kumar"
age = 26

print(x, age)

Kiran kumar 26

In [10]:
name = "kiran kumar"
age = 26
print('Hi, This is {0} and my age is {1}'.format(name, age))

Hi, This is kiran kumar and my age is 26

In [12]:
print('Hi, This is {} and my age is {}'.format(name, age))
print('Hi, This is {} and my age is {}'.format(age, name))

Hi, This is kiran kumar and my age is 26
Hi, This is 26 and my age is kiran kumar

In [14]:
print(f'Hi, This is {name} and my age is {age}')

Hi, This is kiran kumar and my age is 26

In [18]:
print("Kiran Kumar ", end = "@")
print(" B.tech")

Kiran Kumar @ B.tech

In [21]:
print(name, age, sep = "-")
print("17", "01", "1996", sep = "-")

kiran kumar-26
17-01-1996