# Type Casting

In [3]:
num_of_students = 10
print(type(num_of_students))

cast_num_of_students = int(num_of_students)
print(type(cast_num_of_students))

<class 'int'>
<class 'int'>

In [4]:
num_of_students = 10
print(num_of_students, type(num_of_students))

float_num_of_students = float(num_of_students)
print(float_num_of_students, type(float_num_of_students))

10 <class 'int'>
10.0 <class 'float'>

In [5]:
num_of_students = 10
print(num_of_students, type(num_of_students))

complex_num_of_students = complex(num_of_students)
print(complex_num_of_students, type(complex_num_of_students))

10 <class 'int'>
(10+0j) <class 'complex'>

In [10]:
num_of_students = 23 # True --- 10, False ---- 0, .00, None
print(num_of_students, type(num_of_students))

bool_num_of_students = bool(num_of_students)
print(bool_num_of_students, type(bool_num_of_students))

23 <class 'int'>
True <class 'bool'>

In [11]:
num_of_students = 10 
print(num_of_students, type(num_of_students))

str_num_of_students = str(num_of_students) # '10'
print(str_num_of_students, type(str_num_of_students))

10 <class 'int'>
10 <class 'str'>

In [12]:
num_of_students = 10 
print(num_of_students, type(num_of_students))

str_num_of_students = list(num_of_students)

10 <class 'int'>

TypeError: 'int' object is not iterable

In [13]:
num_of_students = 10 
print(num_of_students, type(num_of_students))

str_num_of_students = tuple(num_of_students)

10 <class 'int'>

TypeError: 'int' object is not iterable

In [14]:
num_of_students = 10 
print(num_of_students, type(num_of_students))

str_num_of_students = set(num_of_students)

10 <class 'int'>

TypeError: 'int' object is not iterable

In [15]:
num_of_students = 10 
print(num_of_students, type(num_of_students))

str_num_of_students = dict(num_of_students)

10 <class 'int'>

TypeError: 'int' object is not iterable

In [17]:
basic_dict = {'name' : "VJ", "age": 26}

print(basic_dict.keys())
print(basic_dict.values())
print(basic_dict.items()) # list of tuple of key and value.

dict_keys(['name', 'age'])
dict_values(['VJ', 26])
dict_items([('name', 'VJ'), ('age', 26)])

## String to Other types casting

In [1]:
# string to complex
str_value="12+4j"
complex_value=complex(str_value)
print(complex_value)

(12+4j)

In [2]:
# string to complex
str_value="12"
complex_value=complex(str_value)
print(complex_value)

(12+0j)

In [3]:
# string to complex
str_value="12.23"
complex_value=complex(str_value)
print(complex_value)

(12.23+0j)

In [4]:
# string to complex
str_value="4j"
complex_value=complex(str_value)
print(complex_value)

4j

In [14]:
# string to integer
str_value="1236"
int_value=int(str_value)
print(int_value)

1236

In [12]:
# string to integer
str_value="12364"
int_value=float(str_value)
print(int_value)

ValueError: could not convert string to float: '1236+4j'

In [15]:
# string to integer
str_value=[12364]
int_value=int(str_value)
print(int_value)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'