# Concatenation

In [2]:
name = "Suresh"
surname = "VJ"
print(name, id(name), surname, id(surname))

full_name = name + surname
print(full_name, id(full_name))

Suresh 2946996807728 VJ 2946996808368
SureshVJ 2946997025328

In [3]:
name = "Suresh"
surname = "VJ"
print(name, id(name), surname, id(surname))

name = name + surname
print(name, id(name))

Suresh 2046368444336 VJ 2046368482544
SureshVJ 2046367852976

In [1]:
name = "Suresh"
surname = "VJ"
print(name, id(name), surname, id(surname))

name += surname
print(name, id(name))

Suresh 2336775775984 VJ 2336775717296
SureshVJ 2336775721328

In [4]:
name = ["Suresh"]
surname = ["VJ"]
print(name, id(name), surname, id(surname))

name = name + surname
print(name, id(name))

['Suresh'] 2046381779456 ['VJ'] 2046368699136
['Suresh', 'VJ'] 2046368699328

In [5]:
name = ["Suresh"]
surname = ["VJ"]
print(name, id(name), surname, id(surname))

name += surname
print(name, id(name))

['Suresh'] 2046381783808 ['VJ'] 2046381779456
['Suresh', 'VJ'] 2046381783808

In [5]:
name = ("Suresh")
surname = ("VJ")
print(name, id(name), surname, id(surname))

name += surname
print(name, id(name))

Suresh 2336789320816 VJ 2336775717296
SureshVJ 2336789330992

In [3]:
name = {"Suresh"}
surname = {"VJ"}
print(name, id(name), surname, id(surname))

name = name + surname
print(name, id(name))

{'Suresh'} 2336789021856 {'VJ'} 2336775783808

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [15]:
name = ("Suresh", "rama")
surname = {"VJ", "ty"}
print(name, id(name), surname, id(surname))

name += surname
print(name, id(name))

('Suresh', 'rama') 2336789271232 {'ty', 'VJ'} 2336789025888

TypeError: can only concatenate tuple (not "set") to tuple