# Data Types

## Numarical Data Types

### 1. Int

In [5]:
age = 26

# My age is 26

#print("My age is", age)
print(f"My age is {age}")
print(type(age))

My age is 26
<class 'int'>

### 2. Float

In [7]:
sal = 15000.34

print(type(sal))

<class 'float'>

### 3. Complex

In [8]:
sales_grouth = 2+3j

print(sales_grouth)
print(type(sales_grouth))

(2+3j)
<class 'complex'>

## String Data Types

In [12]:
name = "Supriya"

# This is Supriya -----> Data types of Supriya is Str.

#print("This is", name, "-----> Data types of", name,  "is", type(name), ".")
print(f"This is {name} -----> Data types of {name} is {type(name)}.")

This is Supriya -----> Data types of Supriya is <class 'str'> .
This is Supriya -----> Data types of Supriya is <class 'str'>.

In [33]:
name = "VJ"
job = 'Data Scientist'
address = """Razole, Malikipuram"""
bio = '''This is VJ, Teaching python. '''

print(name)
print(job)
print(address)
print(bio)

print(type(name))
print(type(job))
print(type(address))
print(type(bio))

VJ
Data Scientist
Razole, Malikipuram
This is VJ, Teaching python.
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

## List

In [13]:
students_ages = [26, 21, 20, 26]

print(students_ages)
print(type(students_ages))

[26, 21, 20, 26]
<class 'list'>

## Tuple

In [34]:
students_ages = (26, 21, 20, 26)
students_ages_2 = 26, 21, 20, 26

print(students_ages)
print(type(students_ages))

print(students_ages_2)
print(type(students_ages_2))

(26, 21, 20, 26)
<class 'tuple'>
(26, 21, 20, 26)
<class 'tuple'>

## Range

In [15]:
students_ages = range(20, 29)

print(students_ages)
print(type(students_ages))

range(20, 29)
<class 'range'>

In [16]:
for age in students_ages:
    print(age)

20
21
22
23
24
25
26
27
28

In [17]:
students_ages[2:6]

range(22, 26)

## Dict

In [19]:
person = {'name': "VJ", 'age': 26, "job":"Data Scientist"}

print(person)
print(type(person))

{'name': 'VJ', 'age': 26, 'job': 'Data Scientist'}
<class 'dict'>

In [22]:
person['job']

'Data Scientist'

## Set

In [25]:
students_ages = {26, 21, 20, 26}

print(students_ages)
print(type(students_ages))

{26, 20, 21}
<class 'set'>

## Bool

In [28]:
yes_or_no = False # True

print(yes_or_no)
print(type(yes_or_no))

False
<class 'bool'>

## Null data type

In [30]:
no_data = None

print(no_data)
print(type(no_data))

None
<class 'NoneType'>