# Sort and Reverse

In [23]:
name = "madhu"

print(sorted(name))
print(sorted(name, reverse=True))
print("".join(sorted(name)))

['a', 'd', 'h', 'm', 'u']
['u', 'm', 'h', 'd', 'a']
adhmu

In [14]:
name = "MADHU26madhu"

print(sorted(name))
print(sorted(name, reverse=True))

['2', '6', 'A', 'D', 'H', 'M', 'U', 'a', 'd', 'h', 'm', 'u']
['u', 'm', 'h', 'd', 'a', 'U', 'M', 'H', 'D', 'A', '6', '2']

In [9]:
name = "4523"

print(sorted(name))
print(sorted(name, reverse=True))

['2', '3', '4', '5']
['5', '4', '3', '2']

In [4]:
ages = [2,8,3,6]

print(sorted(ages))
print(sorted(ages, reverse=True))

[2, 3, 6, 8]
[8, 6, 3, 2]

In [7]:
ages = ['2','8','3','6']

print(sorted(ages))
print(sorted(ages, reverse=True))

['2', '3', '6', '8']
['8', '6', '3', '2']

In [22]:
ages = ['rama','madhu','Priya','Suresh', "RAMA"]

print(sorted(ages))
print(sorted(ages, reverse=True))

['Priya', 'RAMA', 'Suresh', 'madhu', 'rama']
['rama', 'madhu', 'Suresh', 'RAMA', 'Priya']

In [20]:
ages = ['rama','madhu','Priya','Suresh', "RAMA", '9', '1']

print(sorted(ages))
print(sorted(ages, reverse=True))

['1', '9', 'Priya', 'RAMA', 'Suresh', 'madhu', 'rama']
['rama', 'madhu', 'Suresh', 'RAMA', 'Priya', '9', '1']

In [19]:
ages = ['rama','madhu','Priya','Suresh', "RAMA", 9, 1]

print(sorted(ages))
print(sorted(ages, reverse=True))

TypeError: '<' not supported between instances of 'int' and 'str'

In [5]:
ages = (2,8,3,6)

print(sorted(ages))
print(sorted(ages, reverse=True))

[2, 3, 6, 8]
[8, 6, 3, 2]

In [6]:
ages = {2,8,3,6}

print(sorted(ages))
print(sorted(ages, reverse=True))

[2, 3, 6, 8]
[8, 6, 3, 2]

In [24]:
data = {"Name": "VJ", "age": 26, "7": "id"}

print(sorted(data))
print(sorted(data, reverse=True))

['7', 'Name', 'age']
['age', 'Name', '7']

# Reverse

In [26]:
name = "madhu"

print(name[::-1])

uhdam

In [27]:
name = [2,8,3,6]

print(name[::-1])

[6, 3, 8, 2]

In [28]:
name = (2,8,3,6)

print(name[::-1])

(6, 3, 8, 2)

In [29]:
name = {2,8,3,6}

print(name[::-1])

TypeError: 'set' object is not subscriptable

In [30]:
data = {"Name": "VJ", "age": 26, "7": "id"}

print(data[::-1])

TypeError: unhashable type: 'slice'

In [36]:
name = "madhu"
print(list(reversed(name)))
print("".join(list(reversed(name))))

['u', 'h', 'd', 'a', 'm']
uhdam

In [38]:
nums = [2,8,3,6]

print(list(reversed(nums)))

[6, 3, 8, 2]

In [41]:
nums = (2,8,3,6)

print(tuple(reversed(nums)))
print(set(reversed(nums)))

(6, 3, 8, 2)
{8, 2, 3, 6}

In [42]:
nums = {2,8,3,6}

print(tuple(reversed(nums)))
print(set(reversed(nums)))

TypeError: 'set' object is not reversible

In [43]:
data = {"Name": "VJ", "age": 26, "7": "id"}

print(tuple(reversed(data)))
print(set(reversed(data)))

('7', 'age', 'Name')
{'age', 'Name', '7'}