# For loop

In [6]:
marks = {25, 34, 78, 99, 25, 66}
print(marks)
for mark_value in marks:
    print(mark_value)

{34, 99, 66, 25, 78}
34
99
66
25
78

In [10]:
marks = {25, 34, 78, 99, 25, 66}

for mark_value in marks:
    print(mark_value)
    if mark_value == 66:
        raise ValueError("66 breaks the loop")
else:
    print("For ended")

34
99
66

ValueError: 66 breaks the loop

In [11]:
marks = [25, 34, 78, 99, 25, 66]

for mark_value in marks:
    print(mark_value)
else:
    print("For ended")

25
34
78
99
25
66
For ended

In [12]:
marks = (25, 34, 78, 99, 25, 66)

for mark_value in marks:
    print(mark_value)
else:
    print("For ended")

25
34
78
99
25
66
For ended

In [13]:
person_details = {"age": 25, "name": "VJ", "sal": 1000000}

for person in person_details:
    print(person)
else:
    print("For ended")

age
name
sal
For ended

In [14]:
person_details = {"age": 25, "name": "VJ", "sal": 1000000}

for person in person_details.values():
    print(person)
else:
    print("For ended")

25
VJ
1000000
For ended

In [15]:
person_details = {"age": 25, "name": "VJ", "sal": 1000000}

for key, value  in person_details.items():
    print(f"The key is: {key} and value is {value}")
else:
    print("For ended")

The key is: age and value is 25
The key is: name and value is VJ
The key is: sal and value is 1000000
For ended

In [19]:
for num in range(0, 10):
    print(num)
else:
    print("For ended")

0
1
2
3
4
5
6
7
8
9
For ended

In [21]:
for num in range(0, 10, 2):
    print(num)
else:
    print("For ended")

0
2
4
6
8
For ended

In [22]:
for num in range(0, 10, 3):
    print(num)
else:
    print("For ended")

0
3
6
9
For ended

In [24]:
for char_of_names in "kiran suresh madhu priya":
    print(char_of_names)
else:
    print("For ended")

k
i
r
a
n

s
u
r
e
s
h

m
a
d
h
u

p
r
i
y
a
For ended

In [26]:
input = "kiran suresh madhu priya"
# Output :
# kiran 
# suresh 
# madhu 
# priya

for char_of_names in "kiran suresh madhu priya":
    if char_of_names != " ": 
        print(char_of_names, end="")
    else:
        print()

kiran
suresh
madhu
priya

In [29]:
input = "kiran suresh madhu priya"
# Output :
# kiran 
# suresh 
# madhu 
# priya

for char_of_names in input:
    if char_of_names == " ":
        # code
        print(" ")
    else:
        # code
        print(char_of_names, end="")

kiran
suresh
madhu
priya

In [31]:
input = "kiran suresh madhu priya"
# Output :
# kiran 
# suresh 
# madhu 
# priya

for char_of_names in input:
    if char_of_names == " ": print()
    else: print(char_of_names, end="")

kiran
suresh
madhu
priya

In [35]:
input = "kiran suresh madhu priya"
print(type(input), input)
list_input = list(input)
print(type(list_input), list_input)

input = "kiran ,suresh ,madhu ,priya"
names = input.split(" ,")
names

<class 'str'> kiran suresh madhu priya
<class 'list'> ['k', 'i', 'r', 'a', 'n', ' ', 's', 'u', 'r', 'e', 's', 'h', ' ', 'm', 'a', 'd', 'h', 'u', ' ', 'p', 'r', 'i', 'y', 'a']

['kiran', 'suresh', 'madhu', 'priya']

In [37]:
num_list = [4,2,6,8] # [(0, 2), (1, 3)]
target = 10

final
for idx, val in enumerate(num_list):
    print(idx, val)

0 4
1 2
2 6
3 8

In [60]:
num_list = [4,2,6,8] # [(0, 2), (1, 3)]
target = 10

for i in range(0, len(num_list)):
    for j in range(i+1,len(num_list)):
        if(num_list[i]+num_list[j]==target):
            print(i,j)

0 2
1 3

In [55]:
num_list = [4,2,6,8] # [(0, 2), (1, 3)]
target = 10

output = []
for idx,value_1 in enumerate(num_list):
    for idx1,value_2 in enumerate(num_list):
      if value_1+value_2==10:
          idx_tp = (idx,idx1)
          output.append(tuple(sorted(idx_tp)))
print(list(set(output)))

[(0, 2), (1, 3)]

In [64]:
num_list = [4,2,6,8] # [(0, 2), (1, 3)]
target = 10

print([(i, j) for i in range(0, len(num_list)) for j in range(i+1,len(num_list)) if num_list[i] + num_list[j] == target])

[(0, 2), (1, 3)]

In [ ]:
################# Way-1 #########################
# class Solution:
#     def twoSum(self, nums: List[int], target: int) -> List[int]:
#         collections_list = list()
#         for f_idx, f_val in enumerate(nums):
#             collections_list.extend([(f_idx, l_idx) for l_idx, l_val in enumerate(nums) \
#                 if  f_idx != l_idx and f_val + l_val == target])
#         print(collections_list)
#         return collections_list[0]

################## Way-2 #########################

class Solution:
    def twoSum(self, nums: List[int], target: int) -> List[int]:
        return [(f_idx, l_idx)  for f_idx, f_val in enumerate(nums) \
        for l_idx in range(f_idx+1, len(nums))\
            if f_val + nums[l_idx] == target] [0]